/* Created by Ying Tu */
/* Thanks for checking out my project! */
/* Welcome to also visit my Linkedin and Github page */
/* Links are at the bottom of the game */
body {
    text-align: center;
    background-color: lightblue;
}

header {
    color: #FFFFFF;
    background-color: #284b63;
    padding: 20px 0;
}

.description p {
    font-size: 26px;
}

.calculator {
    display: inline-block;
    width: 40%;
}

#screen {
    width: 50%;
    display: inline-block;
    margin: 2px 0;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}

#screen p{
    text-align: right;
    margin: auto;
    font-size: 50px;
    font-weight: 900;
    padding-right: 2%;
}
#key {
    width: 50%;
    display: inline-block;
}

button {
    width: 23%;
    height: 50px;
    margin: 0.5%;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.operand {
    background-color: ivory;
}

.operand:hover {
    background-color: rgba(255, 255, 240, 0.75);
}

.operand:active {
    background-color: ivory;
}

.operator {
    background-color: rgb(196, 196, 196);
}

/* Applied when the button is hovered by the cursor */
.operator:hover {
    background-color: gray;
}

/* Applied when the button is clicked */
.operator:active {
    background-color: rgb(196, 196, 196);
}

.equal-operator {
    background-color: orange;
}

.equal-operator:hover {
    background-color: rgb(255, 196, 87);
}

.equal-operator:active {
    background-color: orange;
}

footer {
    background: #353535;
    padding: 32px 0;
    color: #868686;
    font-size: 18px;
}

footer a {
    padding: 4px;
    text-decoration: none;
    color: #c3c3c3;
}

footer a:hover {
    color: #ffffff;
}